<div >
  <span class="title">{{formTitle()}}</span>
  <form nz-form [formGroup]="passwordResetForm" (ngSubmit)="submitForm()" nzLayout="vertical" style="height: stretch">
    <nz-divider></nz-divider>
    <nz-row [nzGutter]="16">
      <nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label nzRequired>New Password</nz-form-label>
          <nz-form-control [nzErrorTip] = "errorTpl">
            <input nz-input formControlName="newPassword" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>

    <nz-divider></nz-divider>
    <div class="buttons-container" nz-flex nzAlign="center" nzJustify="flex-end"
         style="width: 100%; gap: 20px">
      <button nz-button class="form-btn default-btn" nzType="default" nzSize="large" type="button" (click)="onClose()" >Close</button>
      <button nz-button class="form-btn primary-btn" nzType="primary" nzSize="large" type="submit"
              [disabled]="passwordResetForm.invalid"
              [nzLoading]="saveButtonLoading()">
        <nz-icon nzType="save" nzTheme="outline" />Save Changes</button>
    </div>
  </form>
</div>

<!-- Template Errors -->
<ng-template #errorTpl let-control>
  @if (control.hasError('required')) {
    This field is mandatory
  }
  @if (control.hasError('pattern')) {
    Password requirements
      • At least 8 characters
      • At least one uppercase letter (A–Z)
      • At least one lowercase letter (a–z)
      • At least one number (0–9)
  }
</ng-template>

