<div class="main-container">
  <span class="title">{{ formTitle() }}</span>
  <nz-divider></nz-divider>
  <p class="sub-title">Client Photo</p>
  <div nz-flex nzAlign="center" nzVertical nzJustify="center"
       style="width: 100%; gap: 20px">
    <!-- UPLOAD MODAL -->
    <div style="height: 200px; width: 200px; ">
      <app-upload-drag-and-drop-component
        [currentPhoto]="clientImage()"
        [isDisabled]="uploadDisabled()"
        [url]="url()"
        (uploadSuccess)="refreshForm()"></app-upload-drag-and-drop-component>
    </div>
    @if(uploadDisabled()){

      <span style="color: #ec8a42">
        <nz-icon nzType="info-circle" nzTheme="outline" />
        You can upload a photo after saving the client</span>
    }
    @if(clientImage()){
      <app-upload-button-component
      [url]="url()"
      (uploadSuccess)="refreshForm()"></app-upload-button-component>
    }
    <!-- /UPLOAD MODAL -->
  </div>

  <form nz-form [formGroup]="form" (ngSubmit)="submit()" style="height: stretch">
    <nz-form-item>
      <nz-form-label class="sub-title" nzRequired>Nombre</nz-form-label>
      <nz-form-control [nzErrorTip] = "nameErrorTpl">
        <input nz-input formControlName="name" >
      </nz-form-control>
    </nz-form-item>
    <ng-template #nameErrorTpl let-control>
      @if (control.hasError('required')) {
        Name is mandatory
      }
      @if (control.hasError('minlength')) {
        Name is too short
      }
      @if (control.hasError('maxlength')) {
        Name is too large
      }
    </ng-template>
    <nz-divider></nz-divider>
    <div class="buttons-container" nz-flex nzAlign="center" nzJustify="flex-end"
         style="width: 100%; gap: 20px">
      <button nz-button class="form-btn default-btn" nzType="default" nzSize="large" type="button" (click)="onClose()">Cancel</button>
      <button nz-button class="form-btn primary-btn" nzType="primary" nzSize="large" type="submit" [disabled]="form.invalid">
        <nz-icon nzType="save" nzTheme="outline" />Save Changes</button>
    </div>
  </form>
</div>
