<div class="contentPage">
  <app-breadcrumb-component [breadcrumb]="breadcrumb()"></app-breadcrumb-component>
  <nz-divider></nz-divider>
  <div class="contentBody">
  <!-- TABLE OF ALL REPORTS BY HARDWARE ID -->
    <div nz-row [nzGutter]="[10,10]">
      <!-- FILTERS -->
      <div nz-col nzSpan="24">
        <app-dashboard-box-component>
          <div body>
            <div nz-row [nzGutter]="[10,10]">
              <div nz-col nzFlex="1 0 150px">
                <nz-input-wrapper nzAllowClear >
                  <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                  <input nz-input [ngModel]="idFilter()" (ngModelChange)="idFilter.set($event)" placeholder=" Search ID..."  type="number"/>
                </nz-input-wrapper>
              </div>
              <div nz-col nzFlex="1 0 200px">
                <nz-input-wrapper nzAllowClear >
                  <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                  <input nz-input [ngModel]="titleFilter()" (ngModelChange)="titleFilter.set($event)" placeholder=" Search Title..." />
                </nz-input-wrapper>
              </div>
              <div nz-col nzFlex="1 0 50px">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Priority" [ngModel]="priorityFilter()" (ngModelChange)="priorityFilter.set($event)" >
                  @for (priority of priorityList(); track $index){
                    <nz-option [nzLabel]="priority" [nzValue]="priority" />
                  }
                </nz-select>
              </div>
              <div nz-col nzFlex="1 0 200px">
                <nz-input-wrapper nzAllowClear >
                  <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                  <input nz-input [ngModel]="createdAtFilter()" (ngModelChange)="createdAtFilter.set($event)" placeholder="Search Created At" />
                </nz-input-wrapper>
              </div>
              <div nz-col nzFlex="1 0 200px">
                <nz-input-wrapper nzAllowClear >
                  <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                  <input nz-input [ngModel]="dueDateFilter()" (ngModelChange)="dueDateFilter.set($event)" placeholder="Search Due Date" />
                </nz-input-wrapper>
              </div>
              <div nz-col nzFlex="1 0 50px">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Status" [ngModel]="statusFilter()" (ngModelChange)="statusFilter.set($event)" >
                  @for (status of statusList(); track $index){
                    <nz-option [nzLabel]="status" [nzValue]="status" />
                  }
                </nz-select>
              </div>
            </div>
          </div>
        </app-dashboard-box-component>
      </div>
      <!-- TABLE COMPONENT -->
      <div nz-col nzSpan="24">
        <app-dashboard-box-component>
          <div body>
            <app-table-component
              [tableColumns]="tableHardwareReportsService.tableColumns"
              [tableData]="tableData()"></app-table-component>
          </div>
        </app-dashboard-box-component>
      </div>
    </div>
  </div>
</div>
