<h2 nz-typography>Clients</h2>
<nz-divider></nz-divider>
<app-dasboard-box-component style="margin: 0 10px 0 0">
  <div body nz-flex nzGap="middle">
    <nz-input-wrapper nzAllowClear >
      <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
      <input nz-input [ngModel]="clientNameFilter()" (ngModelChange)="clientNameFilter.set($event)" placeholder=" Search clients..." />
    </nz-input-wrapper>
    <button nz-button nzType="primary"><nz-icon nzType="plus" nzTheme="outline" />Add Branch</button>
  </div>
</app-dasboard-box-component>

<app-dasboard-box-component>
  <div body>
    <nz-table #tableData nzSize="default" [nzScroll]="{ x: 'max-content' }" [nzData]="clientsTable()" >
      <colgroup>
        <col style="width: 200px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 140px" />
      </colgroup>
      <thead>
      <tr>
        <th>Name</th>
        <th>Branches</th>
        <th>Hardware</th>
        <th>Reports</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (client of tableData.data; track client.id){
          <tr>
            <td>{{client.name}}</td>
            <td><nz-icon nzType="shop" nzTheme="fill" class="bg-green table-icon" />{{client.branches}}</td>
            <td><nz-icon nzType="video-camera" nzTheme="fill" class="bg-green table-icon"  />{{client.totalHardware}}</td>
            <td>
              @if (client.reportsActive > 0){
              <nz-tag [nzColor]="'#428d5b'">{{client.reportsActive}} Active</nz-tag>
              } @else {
                <nz-tag class="black-font" [nzColor]="'#f4f4f4'">{{client.reportsActive}}</nz-tag>
              } @if (client.reportsActive > 0){
              <nz-tag [nzColor]="'#c72e30'">{{client.overdueReports}} Overdue</nz-tag>
              }
            </td>
            <td><button nz-button nzType="primary" [routerLink]="['/clients', client.id, slugify(client.name)]" >Manage<nz-icon nzType="right" /></button> <button class="edit-button" nz-button nzType="default"><nz-icon nzType="edit" nzTheme="fill" />Edit</button> </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</app-dasboard-box-component>
