<div class="sidebar">
  <div class="logo">
    <nz-icon nzType="cloud-server" nzTheme="outline"></nz-icon>
    <span>Assets Control</span>
  </div>

  <ul nz-menu nzMode="inline" class="menu-sidebar">

    <li nz-menu-item routerLink="/dashboard" routerLinkActive="ant-menu-item-selected">
      <nz-icon nzType="bar-chart" nzTheme="outline"></nz-icon>
      <span>Dashboard</span>
    </li>

    <li nz-menu-item routerLink="/clients" routerLinkActive="ant-menu-item-selected">
      <nz-icon nzType="apartment" nzTheme="outline"></nz-icon>
      <span>Clients</span>
    </li>

    <li nz-menu-item routerLink="/reports" routerLinkActive="ant-menu-item-selected">
      <nz-icon nzType="file-exclamation" nzTheme="outline"></nz-icon>
      <span>Reports</span>
    </li>

    <li nz-menu-item routerLink="/hardware" routerLinkActive="ant-menu-item-selected">
      <nz-icon nzType="laptop" nzTheme="outline"></nz-icon>
      <span>Hardware</span>
    </li>

    <li nz-menu-item routerLink="/users" routerLinkActive="ant-menu-item-selected">
      <nz-icon nzType="user" nzTheme="outline"></nz-icon>
      <span>Users</span>
    </li>

  </ul>
</div>
