<div class="contentPage">
<h2 nz-typography>Dashboard</h2>
<nz-divider nzSize="small"></nz-divider>
<div class="contentBody">
  <div nz-row [nzGutter]="[10,10]">
    <!-- TOP CARDS -->
    @for (card of topCardsView(); track card.label){
      <div nz-col nzSpan="6">
        <app-dashboard-card-component  [cardTitle]="card.label">
          <div body>
            <span class="bold-text" [style.color]="card.color">{{ card.value }}</span>
          </div>
        </app-dashboard-card-component>
      </div>
    }
    <nz-divider nzSize="small" ></nz-divider>
    <!-- Table RECENT ACTIVE REPORTS -->
    <div nz-col nzSpan="12">
      <app-dasboard-box-component [boxTitle]="'Recent Active Reports'">
        <div body>
          <nz-table #tableData [nzShowPagination]="false" nzSize="default" [nzData]="recentReports()" [nzScroll]="{ x: 'max-content' }" >
            <colgroup>
              <col style="width: 50px" />
              <col style="width: 150px" />
              <col style="width: 80px" />
              <col style="width: 130px" />
              <col style="width: 80px" />
            </colgroup>
            <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Priority</th>
              <th>Due Date</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
              @for (report of tableData.data; track report){
                <tr>
                  <td>#{{report.id}}</td>
                  <td>{{report.title}}</td>
                  <td><app-priority-tags-component [priority]="report.priority"></app-priority-tags-component></td>
                  <td>{{report.dueDate.toDateString()}}</td>
                  <td><app-single-status-tags-component [status]="report.status"></app-single-status-tags-component> </td>
                </tr>
              }
            </tbody>
          </nz-table>
        </div>
        <div footer>
          <nz-divider nzSize="small"></nz-divider>
          <button nz-button  nzType="text" class="bg-blue"
                  [routerLink]="['/reports']" style="font-size: 20px"> View All Reports <nz-icon nzType="right" /></button>
        </div>
      </app-dasboard-box-component >
    </div>
    <!-- QUICK ACCESS CLIENTS -->
    <div nz-col nzSpan="12">
      <app-dasboard-box-component  [boxTitle]="'Quick Access'" [flex]="true" >
        <div body>
          <div nz-row [nzGutter]="[10,10]" >
            @for (client of clients(); track client.id){
              <div nz-col nzSpan="12">
                <app-dashboard-card-component [cardTitle]="client.name">
                  <div body>
                    <button class="form-btn primary-btn" nz-button nzType="primary"
                            [routerLink]="['/clients', client.id, this.utilityService.slugify(client.name)]" >
                      View Branches
                      <nz-icon nzType="right" /></button>
                  </div>
                </app-dashboard-card-component>
              </div>
            }
          </div>
        </div>
      </app-dasboard-box-component>
    </div>
    <!-- HARDWARE OVERVIEW -->
    <div nz-col nzSpan="24">
      <app-dasboard-box-component [boxTitle]="'Hardware Overview'" [flex]="true">
        <div body>
          <div nz-row nzGutter="10" >
            <app-dasboard-grey-card-component nz-col nzSpan="8">
              <div body nz-flex nzGap="middle" class="hwMetric" nzAlign="flex-start">
                <nz-icon nzType="video-camera" nzTheme="fill"></nz-icon>
                <div nz-flex nzVertical nzGap="middle">
                  <span>Cameras</span>
                  <span class="bg-green bold-text">{{ totalCameras() }}</span>
                </div>
              </div>
            </app-dasboard-grey-card-component>
            <app-dasboard-grey-card-component nz-col nzSpan="8">
              <div body nz-flex nzGap="middle" class="hwMetric" nzAlign="flex-start">
                <nz-icon nzType="video-camera" nzTheme="fill"></nz-icon>
                <div nz-flex nzVertical nzGap="middle">
                  <span>Switches</span>
                  <span class="bg-green bold-text">{{ totalSwitches() }}</span>
                </div>
              </div>
            </app-dasboard-grey-card-component>
            <div nz-col nzSpan="8">
              <app-dasboard-grey-card-component>
                <div body nz-flex nzGap="middle" class="hwMetric" nzAlign="flex-start">
                  <nz-icon nzType="video-camera" nzTheme="fill"></nz-icon>
                  <div nz-flex nzVertical nzGap="middle">
                    <span>Other Devices</span>
                    <span class="bg-green bold-text">{{ totalOtherHardware() }}</span>
                  </div>
                </div>
              </app-dasboard-grey-card-component>
            </div>
          </div>
        </div>
      </app-dasboard-box-component>
    </div>
  </div>
</div>
</div>

