<div class="contentPage">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="'/clients'">Clients</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="['/clients', routeContext.clientId(), routeContext.clientSlug()]">
        {{routeContext.clientSlug()}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="['/clients', routeContext.clientId(), routeContext.clientSlug(),'branches',routeContext.branchId(),routeContext.branchSlug(),'hardware']">
        {{routeContext.branchSlug()}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="['/clients', routeContext.clientId(), routeContext.clientSlug(),'branches',routeContext.branchId(),routeContext.branchSlug(),'hardware',routeContext.hardwareId(), routeContext.hardwareSlug() ]">
        {{routeContext.hardwareSlug()}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="['/clients', routeContext.clientId(), routeContext.clientSlug(),'branches',routeContext.branchId(),routeContext.branchSlug(),'hardware',routeContext.hardwareId(), routeContext.hardwareSlug(), 'reports']">
        Reports</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{routeContext.reportId()}}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-divider></nz-divider>
  <div class="contentBody">
    @if (reportView(); as report) {
      <div nz-row [nzGutter]="[10,10]">
        <div nz-col nzSpan="24">
          <!-- TITLE -->
          <app-dasboard-box-component >
            <div body nz-row>
              <div nz-col nzSpan="16" nz-flex nzAlign="center" nzGap="middle">
                <h3 nz-typography style="margin: 0">Report # {{report.id}}</h3>
                <app-single-status-tags-component [status]="report.status" [dueDate]="report.dueDate"></app-single-status-tags-component>
              </div>
              <div nz-col nzSpan="8" nz-flex nzGap="small" nzJustify="flex-end">
                @if (report.status){
                  <button nz-button nzType="primary">Edit Report</button>
                  <button nz-button nzType="primary" nzDanger>Close Report</button>
                }
              </div>
            </div>
            <div body nz-row>
              <div nz-col nzSpan="24" nz-flex nzGap="middle" nzAlign="center">
                <h2 nz-typography style="margin: 0">{{report.title}}</h2>
                <app-priority-tags-component [priority]="report.priority"></app-priority-tags-component>
              </div>
            </div>
          </app-dasboard-box-component>
        </div>

        <div nz-col nzSpan="16" >
          <div nz-row [nzGutter]="[10,10]" style="height: 100%">
            <!-- CAROUSEL -->
            <div nz-col nzSpan="24" >
              <app-dasboard-box-component  [flex]="true" >
                <div body>
                  <app-carousel-component [images]="testImage"></app-carousel-component>
                </div>
              </app-dasboard-box-component>
            </div>
            <div nz-col nzSpan="24">
              <!-- REPORT DESCRIPTION -->
              <app-dasboard-box-component [boxTitle]="'Report Description'" [flex]="true">
                <div body>
                  <span>{{report.reportDetails ?? "no details"}}</span>
                </div>
              </app-dasboard-box-component>
            </div>
          </div>
        </div>

        <!-- OTHER REPORT DETAILS -->
        <div nz-col nzSpan="8" >
          <app-dasboard-box-component [boxTitle]="'Report Details'" [flex]="true">
            <div body>
              @for (item of reportDetailsView(); track item.label){
                <div nz-row>
                  <nz-col nzSpan="6">
                    <span>{{item.label}}: </span>
                  </nz-col>
                  <nz-col nzSpan="8">
                    @switch (item.type){
                      @case ('priority'){
                        <app-priority-tags-component [priority]="item.value">
                        </app-priority-tags-component>
                      }
                      @case ('status'){
                        <app-single-status-tags-component [dueDate]="report.dueDate"
                        [status]="item.value">
                        </app-single-status-tags-component>
                      }
                      @default {
                        <strong>{{item.value}}</strong>
                      }
                    }

                  </nz-col>
                  <nz-divider nzSize="small"></nz-divider>
                </div>
              }
            </div>
          </app-dasboard-box-component>
        </div>

        <!-- COMMENTS SECTION -->
        <div nz-col nzSpan="24">
          <app-dasboard-box-component [boxTitle]="'Comments'">
            <div body>
              <div nz-row>
                @if (report.comments.length > 0){
                  @for (comment of report.comments; track comment.id){
                    <div nz-col nzSpan="1" nz-flex nzJustify="center">
                      <nz-avatar [nzSize]="35" nzIcon="user" />
                    </div>
                    <div nz-col nzSpan="23" nz-flex nzGap="small" nzVertical>
                      <div nz-flex nzGap="small" nzAlign="center">
                        <span><strong>{{comment.username}}</strong></span>
                        <span>{{comment.createdAt | date }}</span>
                      </div>
                      <div>
                        <p nz-typography>{{comment.text}}</p>
                      </div>
                    </div>
                    <nz-divider nzSize="small"></nz-divider>
                  }
                } @else {
                  <div nz-col nzSpan="24">
                    <div nz-flex nzVertical nzAlign="center">
                      <nz-icon nzType="info-circle" nzTheme="outline" />
                      <span>No comments</span>
                      <nz-divider nzSize="small"></nz-divider>
                    </div>
                  </div>
                }
              </div>
            </div>
            <div footer nz-flex nzGap="middle" nzAlign="center">
              <textarea nz-input placeholder="Write a comment" cdkTextareaAutosize></textarea>
              <button nz-button nzType="primary">Send</button>
            </div>
          </app-dasboard-box-component>
        </div>

      </div>
    }
  </div>
</div>
