::ng-deep .ant-table-body {
  height: 500px !important;
  min-height: 500px !important;
  max-height: 500px !important;
  overflow-y: auto !important;
}

.img-text{
  display:flex;
  align-items:center;
  gap:12px;
}

.img-text img{
  height: 20px;
  width: 60px;
  object-fit:contain;
  flex-shrink:0;
}
