<nz-table #nzData
          nzSize="small"
          [nzScroll]="{ x: '100%', y: '500px'}"
          nzTableLayout="fixed"
          [nzShowSizeChanger]="true"
          [nzData]="tableData()">
  <!-- TABLE HEAD LABELS -->
  <thead class="theadd">
    <tr>
      @for (columnItem of tableColumns(); track  $index){
        <th
          [nzLeft]="columnItem.fixed === 'nzLeft'"
          [nzWidth]="columnItem.colWidth + 'px'"
          [nzColumnKey]="columnItem.key"
          [nzSortPriority]="columnItem.priority ?? false"
          [nzSortOrder]="columnItem.sortOrder"
          [nzSortFn]="columnItem.sortFn"
          [nzSortDirections]="columnItem.sortDirections"
        >{{columnItem.label}}</th>
      }
    </tr>
  </thead>
  <!-- TABLE ROWS -->
    <tbody>
      @for (row of nzData.data; track row['id']){
        <tr (click)="console.log(row['actions']['0'].link)">
          @for (column of tableColumns(); track column.key) {
            <td nzEllipsis [nzLeft]="column.fixed === 'nzLeft'">
              <!-- SWITCHING DATA DEPENDING OF TYPE -->
              @switch (column.type){
                <!-- IMAGE + STRING -->
                @case ('img-string'){
                <div class="img-text">
                  <img nz-image nzDisablePreview
                       [nzSrc]="row['photo']?.filePath ?
                          apiUrlBaseService.imageBaseUrl + row['photo'].filePath :
                          '/default-images/default-client.webp'"
                       [nzFallback]="'/default-images/default-client.webp'">
                  <span>{{row[column.key]}}</span>
                </div>
                }
                <!-- DATES -->
                <!-- TODO - backend must send null if no date instead of a String -->
                @case ('date') {
                  {{ row[column.key] === 'N/A'
                  ? 'N/A'
                  :  row[column.key]
                  }}
                }
                <!-- ICON CASES -->
                @case ('icon-branch'){
                  <nz-icon nzType="shop" nzTheme="fill" class="bg-green table-icon" />{{row[column.key]}}
                }
                @case ('icon-hardware'){
                  <nz-icon nzType="video-camera" nzTheme="fill" class="bg-green table-icon" />{{row[column.key]}}
                }
                <!-- TAG CASES -->
                @case ('priority-tag'){
                  <app-priority-tags-component [priority]="row[column.key]"></app-priority-tags-component>
                }
                @case ('report-count-tag'){
                  <app-report-count-tags-component [reports]="row[column.key]"></app-report-count-tags-component>
                }
                @case ('status-tag'){
                  <app-single-status-tags-component [status]="row[column.key]"></app-single-status-tags-component>
                }
                <!-- BUTTON CASES -->
                @case ('button'){
                  @for (button of row[column.key]; track $index){
                    <app-button-component [buttonLabel]="button.label"
                                          [type]="button.type"
                                          [routerLink]="button.link ? button.link : null"
                                          (click)="button.onClick ? button.onClick(row) : null" ></app-button-component>
                  }
                }
                @default {
                  {{row[column.key]}}
                }
              }
            </td>
          }
        </tr>
      }
    </tbody>
</nz-table>
