<div class="upload-content shadow">
  @if (currentPhoto()){
    <img nz-image
         [nzSrc]="currentPhoto()!"
         [nzFallback]="fallbackImage()">
  } @else {
    <nz-upload
      nzType="drag"
      [nzAccept]="acceptedFiles()"
      [nzMultiple]="multipleFiles()"
      [nzBeforeUpload]="beforeUpload()"
      [nzName]="'file'"
      [nzShowUploadList]="false"
      [nzDisabled]="isDisabled()"
      [nzAction]="uploadUrl()"
      (nzChange)="onUploadChange($event)"
    >
      <div nz-flex nzAlign="center" nzJustify="center" nzVertical>
        <p class="ant-upload-drag-icon" >
          <nz-icon nzType="inbox" />
        </p>
        <span style="font-size: 1rem">Drag and drop files here</span>
        <span style="font-size: 1rem">or click to browse</span>
      </div>
    </nz-upload>
  }
</div>

