<div class="contentPage">
  <h2 nz-typography>All Reports</h2>
  <nz-divider></nz-divider>
  <div class="contentBody">
    <div nz-row [nzGutter]="[10,10]">
      <div nz-col nzSpan="24">
        <app-dasboard-box-component>
          <div body>
            <div nz-row [nzGutter]="[10,10]">
              <div nz-col nzFlex="1 0 150px">
                <nz-input-wrapper nzAllowClear >
                  <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                  <input nz-input [ngModel]="idFilter()" (ngModelChange)="idFilter.set($event)"  placeholder=" Search ID..." />
                </nz-input-wrapper>
              </div>
              <div nz-col nzFlex="1 0 150px">
                <nz-input-wrapper nzAllowClear >
                  <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                  <input nz-input [ngModel]="tittleFilter()" (ngModelChange)="tittleFilter.set($event)"  placeholder=" Search Title..." />
                </nz-input-wrapper>
              </div>
              <div nz-col nzFlex="1 0 100px">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a client" [ngModel]="clientFilter()" (ngModelChange)="clientFilter.set($event)">
                  @for (client of clientList(); track $index){
                    <nz-option [nzLabel]="client" [nzValue]="client" />
                  }
                </nz-select>
              </div>
              <div nz-col nzFlex="1 0 100px">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a branch" [ngModel]="branchFilter()" (ngModelChange)="branchFilter.set($event)" >
                  @for (branch of branchList(); track $index){
                    <nz-option [nzLabel]="branch" [nzValue]="branch" />
                  }
                </nz-select>
              </div>
              <div nz-col nzFlex="1 0 150px">
                <nz-input-wrapper nzAllowClear >
                  <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                  <input nz-input [ngModel]="hardwareFilter()" (ngModelChange)="hardwareFilter.set($event)"  placeholder=" Search Hardware..." />
                </nz-input-wrapper>
              </div>
              <div nz-col nzFlex="1 0 50px">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Priority" [ngModel]="priorityFilter()" (ngModelChange)="priorityFilter.set($event)" >
                  @for (priority of priorityList(); track $index){
                    <nz-option [nzLabel]="priority" [nzValue]="priority" />
                  }
                </nz-select>
              </div>
              <div nz-col nzFlex="1 0 150px">
                <nz-input-wrapper nzAllowClear >
                  <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                  <input nz-input [ngModel]="createdAtFilter()" (ngModelChange)="createdAtFilter.set($event)"  placeholder=" Search Created At..." />
                </nz-input-wrapper>
              </div>
              <div nz-col nzFlex="1 0 150px">
                <nz-input-wrapper nzAllowClear >
                  <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                  <input nz-input [ngModel]="dueDateFilter()" (ngModelChange)="dueDateFilter.set($event)"  placeholder=" Search Due Date..." />
                </nz-input-wrapper>
              </div>
              <div nz-col nzFlex="1 0 50px">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Status" [ngModel]="statusFilter()" (ngModelChange)="statusFilter.set($event)" >
                  @for (status of statusList(); track $index){
                    <nz-option [nzLabel]="status" [nzValue]="status" />
                  }
                </nz-select>
              </div>
            </div>
          </div>
        </app-dasboard-box-component>
      </div>
      <div nz-col nzSpan="24">
        <!-- TABLE OF ALL REPORTS BY HARDWARE ID -->
        <app-dasboard-box-component>
          <div body>
            <nz-table #tableData nzSize="default" [nzScroll]="{ x: 'max-content' }" [nzData]="filteredReports()" >
              <colgroup>
                <col style="width: 50px" />
                <col style="width: 120px" />
                <col style="width: 120px" />
                <col style="width: 120px" />
                <col style="width: 120px" />
                <col style="width: 80px" />
                <col style="width: 130px" />
                <col style="width: 130px" />
                <col style="width: 80px" />
                <col style="width: 80px" />
              </colgroup>
              <thead>
              <tr>
                <th>#ID</th>
                <th>Title</th>
                <th>Client</th>
                <th>Branch</th>
                <th>Hardware</th>
                <th>Priority</th>
                <th>Created At</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Actions</th>
              </thead>
              @if (tableData.data.length > 0) {
                <tbody>
                  @for (report of tableData.data; track report.id){
                    <tr>
                      <td>#{{report.id}}</td>
                      <td>{{report.title}}</td>
                      <td>{{report.clientName}}</td>
                      <td>{{report.branchName}}</td>
                      <td>{{report.hardwareName}}</td>
                      <td><app-priority-tags-component [priority]="report.priority"></app-priority-tags-component></td>
                      <td>{{report.createdDate.toDateString()}}</td>
                      <td>{{report.dueDate.toDateString()}}</td>
                      <td><app-single-status-tags-component [status]="report.status"></app-single-status-tags-component></td>
                      <td><button nz-button nzType="primary"
                                  [routerLink]="['/clients',report.clientId,report.clientName,
                    'branches',report.branchId,report.branchName,
                    'hardware',report.hardwareId,report.hardwareName,
                    'reports',report.id]">View</button></td>
                    </tr>
                  }
                </tbody>
              } @else {
                <td colspan="8">
                  <nz-empty nzNotFoundImage="simple"></nz-empty>
                </td>
              }
            </nz-table>
          </div>
        </app-dasboard-box-component>
      </div>
    </div>
  </div>
</div>
