.recentReportCard{
  cursor: pointer;
  transition: all 0.2s ease;
}
.recentReportCard:hover {
  transform: translateY(-5px);
}

.value{
  font-weight: bold;
}

.reportDate{
  font-size: 16px;
  font-weight: bold;
}

.reportTittle{
  font-size: 16px;
}

.imageTitle{
  padding-bottom: 20px;
  font-weight: bold;
}
