.vertical-divider {
  height: auto;
  align-self: stretch;
}

.recentReportCard{
  cursor: pointer;
  transition: all 0.2s ease;
}
.recentReportCard:hover {
  transform: translateY(-3px);
}

.value{
  font-weight: bold;
}

.reportDate{
  font-size: 16px;
  font-weight: bold;
}
.reportTittle{
  font-size: 16px;
}

.row {
  display: grid;
  grid-template-columns: 180px 1fr;
}

