<div class="contentPage">
  <app-breadcrumb-component [breadcrumb]="breadcrumb()"></app-breadcrumb-component>
  <div class="contentBody">

    <div nz-row [nzGutter]="[10,10]" >
      <div nz-col nzSpan="24">
        <app-dashboard-box-component>
          <div body nz-flex nzJustify="space-between" nzAlign="center">
            <div nz-flex nzVertical>
              <h1 nz-typography style="margin: 0">{{ hardwareView()?.name}}</h1>
              <span>Last update: {{hardwareView()?.lastMaintenanceDate}}</span>
            </div>
            <div nz-flex nzGap="small">
              <button nz-button class="form-btn default-btn" nz-dropdown [nzDropdownMenu]="exportMenu" nzPlacement="bottomLeft">Export <nz-icon nzType="export" nzTheme="outline" /></button>
              <button nz-button class="form-btn primary-btn" nzType="primary" (click)="openEditSideBar()"><nz-icon nzType="edit" nzTheme="fill" />Edit Hardware Data</button>
              <button nz-button class="form-btn primary-btn" nzType="primary" (click)="openNewReportSideBar()">New Report</button>
            </div>
           </div>
        </app-dashboard-box-component>
      </div>

      <div nz-col nzSpan="14">
        <div nz-row [nzGutter]="[10,10]">
          <div nz-col nzSpan="12">
            <app-dashboard-box-component>
              <div body>
                <div nz-flex nzGap="middle" nzAlign="center">
                  <img [src]="activeReports() > 0 ? './icons/warning.png' : './icons/check.png' " width="35" height="35">
                  <div>
                    <h2 nz-typography style="margin: 0;">{{selectedHardwareDetail()?.activeReportsCount}}</h2>
                    <h4 style="margin: 0;">Active reports</h4>
                  </div>
                </div>
              </div>
            </app-dashboard-box-component>
          </div>
          <div nz-col nzSpan="12">
            <app-dashboard-box-component>
              <div body >
                <div nz-flex nzGap="middle" nzAlign="center">
                  <img [src]="overdueReports() > 0 ? './icons/warning.png' : './icons/check.png' " width="35" height="35">
                  <div >
                    <h2 nz-typography style="margin: 0;">
                      {{selectedHardwareDetail()?.overdueReportsCount}}</h2>
                    <h4 style="margin: 0;">Overdue reports</h4>
                  </div>
                </div>
              </div>
            </app-dashboard-box-component>
          </div>
        </div>


        <div nz-col nzSpan="24">
          <!-- GLOBAL HARDWARE DETAILS -->
          <app-dashboard-box-component [flex]="true">
            <div body nz-flex nzVertical nzGap="small" >
              <div nz-row>
                <h3 nz-typography>Hardware Information</h3>
              </div>
              <div nz-row nzAlign="top" style="padding-top: 15px" >

                <!-- PHOTO SECTION -->
                <div nz-col nzFlex="0 0 180px">
                  <div nz-flex nzVertical nzAlign="center" nzJustify="center" nzGap="small">

                    @for (photo of hardwareView()?.hardwarePhotos; track photo.label){
                      <div style="width: 150px; height:150px">
                        <!-- UPLOAD MODAL -->
                        <app-upload-drag-and-drop-component
                          [acceptedFiles]="'image/*'"
                          [currentPhoto]="photo.filepath"
                          [fallbackImage]="fallbackCameraImage"
                          [uploadUrl]="photo.link"
                          (uploadSuccess)="uploadSuccess($event)">
                        </app-upload-drag-and-drop-component>
                      </div>
                      <div>
                        <span class="imageTitle">{{photo.label}}</span>
                        @if (photo.filepath){
                          <!-- UPLOAD BUTTON MODAL -->
                          <app-upload-button-component
                            [uploadUrl]="photo.link"
                            [acceptedFiles]="'image/*'"
                            (manualUpload)="uploadCameraPhoto(photo.photoType, $event)">
                            <div body>
                              <button nz-button nzType="text">
                                <nz-icon nzType="edit" nzTheme="outline" />
                              </button>
                            </div>
                          </app-upload-button-component>
                        }
                      </div>
                    }
                  </div>
                </div>

                <!-- HARDWARE INFO SECTION -->
                <div nz-col nzFlex="1 0 350px">
                  <!-- GLOBAL INFO -->
                  <app-dashboard-card-component>
                    <div body>
                      <div nz-row nzGutter="10">
                        <div nz-col [nzMd]="{span: 24}" [nzXXl]="{span: 11}" >
                          @for (detail of hardwareView()?.hardwareGlobalDetails; track detail.label){
                            <div nz-row>
                              <div nz-col nzSpan="10">
                                <span class="label">{{ detail.label }}</span>
                              </div>
                              <div nz-col nzSpan="14">
                                <strong class="hInfo">{{ detail.value }}</strong>
                              </div>
                            </div>
                            <div nz-row>
                              <div nz-col nzSpan="24">
                                <nz-divider nzSize="small"></nz-divider>
                              </div>
                            </div>
                          }
                        </div>

                        <div style="border: 1px #E5E7EEFF solid; margin: 0 5px">
                        </div>

                        <div nz-col [nzMd]="{span: 24}" [nzXXl]="{span: 11}"  >

                          <!-- SPECIFIC INFO -->
                          @for (hInfo of hardwareView()?.hardwareInfo; track hInfo.label){
                            <div nz-row>
                              <div nz-col nzSpan="10">
                                <span class="label">{{ hInfo.label }}</span>
                              </div>

                              <div nz-col nzSpan="14">
                                @switch (hInfo.label){

                                  @case ('Password'){
                                    <div>
                                      @if (hInfo.value){
                                        {{ showPassword() ? hInfo.value : '••••••••••••' }}
                                        <button nz-button nzType="text" (click)="showPassword.set(!showPassword())">
                                          <nz-icon [nzType]="showPassword() ? 'eye-invisible' : 'eye'" />
                                        </button>
                                      }
                                    </div>
                                  }
                                  @default {
                                    <strong class="hInfo">{{hInfo.value}}</strong>
                                  }
                                }
                              </div>

                            </div>
                            <div nz-row>
                              <div nz-col nzSpan="24">
                                <nz-divider nzSize="small"></nz-divider>
                              </div>
                            </div>
                          }
                        </div>
                      </div>
                    </div>
                  </app-dashboard-card-component>
                </div>
              </div>
            </div>
          </app-dashboard-box-component>
        </div>
      </div>

      <!-- HISTORY OF REPORTS -->
      <div nz-col nzSpan="10">
        <app-dashboard-box-component [boxTitle]="'Recent reports'" [flex]="true">
          <div body nz-flex nzVertical nzGap="small">
            @if(lastReports()?.length === 0){
              <nz-empty nzNotFoundImage="simple"></nz-empty>
            } @else {
              @for (report of lastReports(); track report.id){
                <app-dashboard-card-component class="recentReportCard" [routerLink]="['/clients',routeContext.clientId(),routeContext.clientSlug(),
                'branches',routeContext.branchId(),routeContext.branchSlug(),
                'hardware',routeContext.hardwareId(),routeContext.hardwareSlug(),
                'reports',report.id]">
                  <div body>
                    <div nz-row [nzGutter]="[0,10]">
                      <div nz-col nzSpan="12">
                        <app-double-status-tag-component
                          [status]="report.status" [dueDate]="report.dueDate"></app-double-status-tag-component>
                      </div>
                      <div nz-col nzSpan="12" nz-flex nzJustify="flex-end" style="gap: 5px">
                        <span class="reportDate">{{report.dueDate.toDateString()}}</span>
                        <nz-icon nzType="right" nzTheme="outline"/>
                      </div>
                      <div nz-col nzSpan="24">
                        <div nz-flex nzGap="small">
                          <app-priority-tags-component [priority]="report.priority"></app-priority-tags-component>
                          <strong class="reportTittle">{{ report.title }}</strong>
                        </div>
                      </div>
                      <div nz-col nzSpan="24">
                        <span>Reported by: <strong>{{report.reportedBy}}</strong> </span>
                      </div>
                    </div>
                  </div>
                </app-dashboard-card-component>
              }
              <button nz-button class="form-btn default-btn" [routerLink]="['/clients',routeContext.clientId(), routeContext.clientSlug(),
                        'branches',routeContext.branchId(), routeContext.branchSlug(),
                        'hardware', routeContext.hardwareId(), routeContext.hardwareSlug(),'reports']" > View All Reports </button>
            }
          </div>
        </app-dashboard-box-component>
      </div>
    </div>
  </div>
</div>

<nz-dropdown-menu #exportMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="hardwareStore.getPhotoReportByCameraId()">Photo report</li>
  </ul>
</nz-dropdown-menu>

<!-- SIDEBAR COMPONENT -->
@if(openSidebar()){
  <app-edit-side-bar>
    <div body>
      @switch (sidebarContent()){
        @case ("cameraForm"){
          <app-camera-form></app-camera-form>
        }
        @case ("reportForm"){
          <app-report-form></app-report-form>
        }
      }
    </div>
  </app-edit-side-bar>
}
<!-- /SIDEBAR COMPONENT -->

