<div class="contentPage">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="'/clients'">Clients</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="['/clients', routeContext.clientId(), routeContext.clientSlug()]">{{routeContext.clientSlug()}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="['/clients', routeContext.clientId(), routeContext.clientSlug(),'branches',routeContext.branchId(),routeContext.branchSlug(),'hardware']">{{routeContext.branchSlug()}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{routeContext.hardwareSlug()}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-divider></nz-divider>
  <div class="contentBody">

    <div nz-row [nzGutter]="[10,10]" >
      <div nz-col nzSpan="24">

        <app-dasboard-box-component>
          <div body nz-flex nzJustify="space-between" nzAlign="center">
            <h2 nz-typography class="title">{{ hardwareView()?.name }}</h2>
            <button nz-button nzType="primary"><nz-icon nzType="edit" nzTheme="fill" />Edit Hardware</button>
          </div>
        </app-dasboard-box-component>

      </div>
      <div nz-col nzSpan="14">

        <div nz-row [nzGutter]="[10,10]" style="height: 100%" >
          <!-- GLOBAL HARDWARE DETAILS -->
          <div nz-col nzSpan="24">
            <app-dasboard-box-component [flex]="true" >
              <div body nz-flex nzVertical nzGap="small" >
                <div nz-row nzAlign="middle">
                  <div nz-col nzFlex="0 0 200px">
                    <div><img nz-image [nzSrc]="defaultCameraImage"  width="200" height="200" alt="default image camera" class="shadow" style="border-radius: 10px"></div>
                  </div>
                  <div nz-col nzFlex="20px" style="height: 200px">
                    <nz-divider nzType="vertical" style="height: 100%" ></nz-divider>
                  </div>
                  <div nz-col nzSpan="10">
                    @for (detail of hardwareView()?.globalDetails; track detail.label){
                      <div nz-row>
                        <div nz-col nzSpan="10">
                          <span class="label">{{ detail.label }}</span>
                        </div>
                        <div nz-col nzSpan="14">
                          <strong class="hInfo">{{ detail.value }}</strong>
                        </div>
                      </div>
                      <div nz-row>
                        <div nz-col nzSpan="24">
                          <nz-divider nzSize="small"></nz-divider>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </app-dasboard-box-component>
          </div>
          <div nz-col nzSpan="24">
            <!-- HARDWARE INFORMATION -->
            <app-dasboard-box-component  [boxTitle]="'Hardware Information'"  [flex]="true">
              <div body nz-flex nzVertical nzGap="small">
                @for (hInfo of hardwareView()?.hardwareInfo; track hInfo.label){
                  <div nz-row>
                    <div nz-col nzSpan="5">
                      <span class="label">{{ hInfo.label }}</span>
                    </div>
                    <div nz-col nzSpan="5">
                      <strong class="hInfo">{{hInfo.value}}</strong>
                    </div>
                  </div>
                  <div nz-row>
                    <div nz-col nzSpan="10">
                      <nz-divider nzSize="small"></nz-divider>
                    </div>
                  </div>
                }
              </div>
            </app-dasboard-box-component>

          </div>
        </div>
      </div>

      <!-- HISTORY OF REPORTS -->
      <div nz-col nzSpan="10">
        <app-dasboard-box-component [boxTitle]="'Report History'" [flex]="true">
          <div body nz-flex nzVertical nzGap="small">
            @if(lastReports()?.length === 0){
              <nz-empty nzNotFoundImage="simple"></nz-empty>
            } @else {
              @for (report of lastReports(); track report.id){
                <app-dasboard-card-component class="recentReportCard" [routerLink]="['/clients',routeContext.clientId(),routeContext.clientSlug(),
                'branches',routeContext.branchId(),routeContext.branchSlug(),
                'hardware',routeContext.hardwareId(),routeContext.hardwareSlug(),
                'reports',report.id]">
                  <div body>
                    <div nz-row [nzGutter]="[0,10]">
                      <div nz-col nzSpan="12">
                        <app-double-status-tag-component
                          [status]="report.status" [dueDate]="report.dueDate"></app-double-status-tag-component>
                      </div>
                      <div nz-col nzSpan="12" nz-flex nzJustify="flex-end" style="gap: 5px">
                        <span class="reportDate">{{report.dueDate.toDateString()}}</span>
                        <nz-icon nzType="right" nzTheme="outline"/>
                      </div>
                      <div nz-col nzSpan="24">
                        <div nz-flex nzGap="small">
                          <app-priority-tags-component [priority]="report.priority"></app-priority-tags-component>
                          <strong class="reportTittle">{{ report.title }}</strong>
                        </div>
                      </div>
                      <div nz-col nzSpan="24">
                        <span>Technician: <strong>{{report.reportedBy}}</strong> </span>
                      </div>
                    </div>
                  </div>
                </app-dasboard-card-component>
              }
              <button nz-button nzBlock [routerLink]="['/clients',routeContext.clientId(), routeContext.clientSlug(),
                        'branches',routeContext.branchId(), routeContext.branchSlug(),
                        'hardware', routeContext.hardwareId(), routeContext.hardwareSlug(),'reports']" > View All Reports </button>
            }
          </div>
        </app-dasboard-box-component>
      </div>
    </div>
  </div>
</div>
