<div nz-flex nzGap="small" nzAlign="stretch" nzJustify="space-between">
  <div nz-flex nzAlign="center">
    <button nz-button
            nzType="text"
            (click)="scrollLeft()"
            [style.height.px]="imageSize"  >
      <nz-icon nzType="left" nzTheme="outline" />
    </button>
  </div>
  <div #carousel style="overflow: hidden" >
    <nz-image-group nz-flex nzGap="small" >
      @for (image of images(); track image){
        <img nz-image
             [nzSrc]="'https://picsum.photos/500/500'"
             [nzFallback]="defaultImgPlaceholder"
             width="180" height="180" [alt]=""
             class="shadow" style="border-radius: 10px"/>
      }
    </nz-image-group>
  </div>
  <div nz-flex nzAlign="center">
  <button nz-button
          nzType="text"
          (click)="scrollRight()"
          [style.height.px]="imageSize"  >
    <nz-icon nzType="right" nzTheme="outline" />
  </button>
</div>
</div>
