<h2 nz-typography>Clients / Client / Branch / Camera</h2>
<nz-divider></nz-divider>
<div nz-flex nzVertical nzGap="middle">
  <app-dasboard-box-component>
    <div body nz-flex nzJustify="space-between">
      <h3 nz-typography class="title">Entrance Camera</h3>
      <button nz-button nzType="primary"><nz-icon nzType="edit" nzTheme="fill" />Edit Hardware</button>
      <ng-content select="[header]"></ng-content>
    </div>
  </app-dasboard-box-component>
  <div nz-flex nzGap="middle" nzJustify="space-around">
    <div nz-flex nzVertical nzGap="middle" style="flex: 2;" >
      <app-dasboard-box-component >
        <div body >
          <div nz-flex nzGap="middle">
            <div><img [ngSrc]="defaultCameraImage" priority width="150" height="150" alt="default image camera" class="shadow" style="border-radius: 10px"></div>
            <nz-divider nzType="vertical" class="vertical-divider" ></nz-divider>
            <div nz-flex  nzVertical nzGap="small">
              <div class="row">
                <span class="label">Type</span>
                <strong class="hInfo">{{ hardwareDetail()?.type }}</strong>
              </div>
              <nz-divider nzSize="small"></nz-divider>
              <div class="row">
                <span class="label">Model</span>
                <strong class="hInfo">{{ hardwareDetail()?.model }}</strong>
              </div>
              <nz-divider nzSize="small"></nz-divider>
              <div class="row">
                <span class="label">Serial Number</span>
                <strong class="hInfo">{{ hardwareDetail()?.serialNumber }}</strong>
              </div>
              <nz-divider nzSize="small"></nz-divider>
              <div class="row">
                <span class="label">Location</span>
                <strong class="hInfo">{{ hardwareDetail()?.location }}</strong>
              </div>
            </div>
          </div>
        </div>
      </app-dasboard-box-component>
      <!-- DETAILS DEPENDING ON THE TYPE -->
      @if (hardwareDetail()?.type === "Camera"){
      <app-dasboard-box-component [boxTitle]="'Hardware Information'">
        <div body nz-flex nzVertical nzGap="small">
          <div class="row">
            <span class="label">Camera ID</span>
            <strong class="hInfo">{{ hardwareDetail()?.cameraId}}</strong>
          </div>
          <nz-divider nzSize="small"></nz-divider>
          <div class="row">
            <span class="label">Name</span>
            <strong class="hInfo">{{ hardwareDetail()?.name }}</strong>
          </div>
          <nz-divider nzSize="small"></nz-divider>
          <div class="row">
            <span class="label">MAC Address</span>
            <strong class="hInfo">{{ hardwareDetail()?.macAddress }}</strong>
          </div>
          <nz-divider nzSize="small"></nz-divider>
          <div class="row">
            <span class="label">IP Address</span>
            <strong class="hInfo">{{ hardwareDetail()?.ipAddress }}</strong>
          </div>
          <nz-divider nzSize="small"></nz-divider>
          <div class="row">
            <span class="label">Last Maintenance</span>
            <strong class="hInfo">{{ lastMaintenanceDate() }}</strong>
          </div>
        </div>
      </app-dasboard-box-component>
      }
    </div>

    <app-dasboard-box-component [boxTitle]="'Report History'" style="flex: 1">
      <div body nz-flex nzVertical nzGap="small">
        @if(!lastReports()){
          <nz-empty nzNotFoundImage="simple"></nz-empty>
        } @else {
          @for (report of lastReports(); track report.id){
            <app-dasboard-card-component >
              <div body nz-flex nzVertical nzGap="small"  >
                <div nz-flex nzGap="small" nzJustify="space-between">
                  <div nz-flex nzGap="small" >
                    <nz-icon [nzType]="report.icon.icon" nzTheme="fill" [class]="report.icon.color" /><span>{{report.dueDate}}</span>
                  </div>
                  <nz-icon nzType="right" nzTheme="outline" style="flex:0" />
                </div>
                <div>
                  <span style="margin-left: 25px"><strong>{{ report.title }}</strong> </span>
                </div>
                <div>
                  <span style="margin-left: 25px">Technician: <strong>{{report.reportedBy}}</strong> </span>
                </div>
              </div>
            </app-dasboard-card-component>
          }
          <button nz-button nzBlock> View All Reports </button>
        }
      </div>
    </app-dasboard-box-component>

  </div>

</div>

