.mainframe {
  min-width: 1280px;
  background: rgba(252, 252, 252, 0.99) !important;
  height: 100dvh;
  overflow: hidden;
}
.contentFrame{
  padding: 24px;
  overflow: hidden;
  height: 100%;
}
.contentPage{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.contentBody{
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
nz-breadcrumb-item{
  font-size: 30px;
}

*{
  font-family: 'Inter', sans-serif;
}

.bg-white {
  border-radius: 10px;
  padding: 18px;
}

.bg-grey {
  background-color: #ecf0f7;
  border-radius: 10px;
  padding: 18px;
}
.shadow{
  border: 1px solid #e5e7ee;
  box-shadow: 1px 1px 2px #e5e7ee;
}

.fitContent{
  overflow: hidden;
}

.inline{
  width: fit-content;
}

.bold-text {
  font-weight: bold;
  font-size: 38px;
}

.bg-red{
  color: #c72e30;
}
.bg-green{
  color: #428d5b;
}
.bg-yellow {
  color: #ec8a42;
}

.bg-blue {
  color: #255498;
}

/* PAGE STYLES */
.headerButton{
  font-size: 32px;
  height: max-content;
  padding: 0 4px;
}
.divider{
  font-size: 32px;
}

/* TABLE STYLES */
.table-icon{
  margin-right: 10px;
}

thead{
  background-color: #f4f4f9;
}
thead tr th{
  font-size: 16px;
  padding: 15px 5px;
  color: #535d71;
}

td{
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px;
}

.black-font{
  color: black;
}

.edit-button{
  margin-left:10px;
}

/* SIDEBAR FORM STYLES */
.main-container{
  height:calc(100vh - 50px) ;
  display: flex;
  flex-direction: column;
}
.title{
  font-size: 20px;
  font-weight: bold;
}
.sub-title{
  font-size: 14px;
  font-weight: bold;
}
.buttons-container{
  position: relative;
  margin-top: auto;
}


/* NEW GLOBAL STYLES */

.form-btn{
  border-radius: 6px;
  box-shadow: 1px 1px 4px #e3e3e3;
}

.default-btn{
  background: #f3f3f7;
  border: 1px solid #dcdcdc;
}
.primary-btn{
  background: #1f3155;
  color: white;
}
.primary-btn:disabled{
  background: #9bbcff;
  color: #e5e5e5;
  cursor: not-allowed;
  opacity: 0.8;
}
.primary-btn:hover{
  background: #3b5998;
  color: white;
}

