<div class="contentPage">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="'/clients'">Clients</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a class="breadcrumb" [routerLink]="['/clients', routeContext.clientId(), routeContext.clientSlug()]">
        {{routeContext.clientSlug()}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>{{routeContext.branchSlug()}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-divider></nz-divider>
  <div class="contentBody">
    <div nz-row [nzGutter]="[10,10]">
      <div nz-col nzSpan="24">
        <app-dasboard-box-component>
          <div body nz-row [nzGutter]="[5,5]">
            <div nz-col nzFlex="1 0 200px">
              <nz-input-wrapper nzAllowClear >
                <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                <input nz-input [ngModel]="typeFilter()" (ngModelChange)="typeFilter.set($event)"  placeholder=" Search Type..." />
              </nz-input-wrapper>
            </div>
            <div nz-col nzFlex="1 0 200px">
              <nz-input-wrapper nzAllowClear >
                <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                <input nz-input [ngModel]="nameFilter()" (ngModelChange)="nameFilter.set($event)"  placeholder=" Search Name..." />
              </nz-input-wrapper>
            </div>
            <div nz-col nzFlex="1 0 200px">
              <nz-input-wrapper nzAllowClear >
                <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                <input nz-input [ngModel]="modelFilter()" (ngModelChange)="modelFilter.set($event)"  placeholder=" Search Model..." />
              </nz-input-wrapper>
            </div>
            <div nz-col nzFlex="1 0 200px">
              <nz-input-wrapper nzAllowClear >
                <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                <input nz-input [ngModel]="serialNumberFilter()" (ngModelChange)="serialNumberFilter.set($event)"  placeholder=" Search Serial Number..." />
              </nz-input-wrapper>
            </div>
            <div nz-col nzFlex="1 0 200px">
              <nz-input-wrapper nzAllowClear >
                <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                <input nz-input [ngModel]="locationFilter()" (ngModelChange)="locationFilter.set($event)" placeholder=" Search Location..." />
              </nz-input-wrapper>
            </div>
            <div nz-col nzFlex="1 0 200px">
              <nz-input-wrapper nzAllowClear >
                <nz-icon nzInputPrefix nzType="search" nzTheme="outline" />
                <input nz-input [ngModel]="lastMaintenanceFilter()" (ngModelChange)="lastMaintenanceFilter.set($event)" placeholder=" Search Last Maintenance..." />
              </nz-input-wrapper>
            </div>
            <div nz-col nzFlex="1 1 200px" >
              <button nz-button nzType="primary"><nz-icon nzType="plus" nzTheme="outline" />Add Hardware</button>
            </div>
          </div>
        </app-dasboard-box-component>
      </div>
       <!-- HARDWARE TABLE -->
      <div nz-col nzSpan="24">
        <app-dasboard-box-component>
          <div body>
            <nz-table #tableData nzSize="default" [nzScroll]="{ x: 'max-content' }" [nzData]="filteredHardware()" >
              <colgroup>
                <col style="width: 80px" />
                <col style="width: 150px" />
                <col style="width: 180px" />
                <col style="width: 120px" />
                <col style="width: 100px" />
                <col style="width: 160px" />
                <col style="width: 150px" />
                <col style="width: 120px" />
              </colgroup>
              <thead>
              <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Model</th>
                <th>Serial Number</th>
                <th>Location</th>
                <th>Reports</th>
                <th>Last Maintenance</th>
                <th>Actions</th>
              </thead>
              @if (tableData.data.length > 0) {
                <tbody>
                  @for (hardware of tableData.data; track hardware.id){
                    <tr>
                      @if (hardware.type === "Camera") {
                        <td><nz-icon nzType="video-camera" nzTheme="fill" class="bg-blue" /> {{hardware.type}}</td>
                      } @else {
                        <td>{{hardware.type}}</td>
                      }
                      <td>{{hardware.name}}</td>
                      <td>{{hardware.model}}</td>
                      <td>{{hardware.serialNumber}}</td>
                      <td>{{hardware.location}}</td>
                      <td><app-report-count-tags-component [reports]="hardware.reportsActive"></app-report-count-tags-component></td>
                      <td>{{utilityService.isValidDate(hardware.lastMaintenanceDate)}}</td>
                      <td><button nz-button nzType="primary"
                                  [routerLink]="['/clients',routeContext.clientId(), routeContext.clientSlug(),
                                'branches',routeContext.branchId(), routeContext.branchSlug(),
                                'hardware',hardware.id,utilityService.slugify(hardware.name)]">View<nz-icon nzType="right" /></button>
                      </td>
                    </tr>
                  }
                </tbody>
              } @else {
                <td colspan="8">
                  <nz-empty nzNotFoundImage="simple"></nz-empty>
                </td>
              }
            </nz-table>
          </div>
        </app-dasboard-box-component>
      </div>
    </div>
  </div>
</div>
